APP_NAME="express-mongodb-rest-api-boilerplate"
APP_URL="http://localhost"
APP_PORT=8000

CLIENT_URL="http://localhost:3000"

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_TOKEN_EXPIRY=86400

DB_HOST="mongodb://mongo"
DB_PORT="27017"
DB_NAME="express-mongodb-rest-api-boilerplate"

JWT_SECRET="secret"
JWT_EXPIRATION="24h"

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER=""
MAIL_PASSWORD=""

API_LOG_FILENAME="api-logs.log"