PORT=8000
ORIGIN=http://localhost

MONGODB_URI=mongodb+srv://user:example@user.mongodb.net/example

REDIS_URI=redis://127.0.0.1:6379
REDIS_TOKEN_EXPIRATION=86400

JWT_SECRET=
JWT_EXPIRATION=24h

MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_TPL_PATH=templates

STORAGE_PATH=storage/public

API_LOG_FILENAME=api-logs.log