<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=t('successfullyUpdatedEmail')%></title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        -webkit-font-smoothing: antialiased;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      table {
        width: 100%;
        border: none;
        border-collapse: separate;
      }

      table tr td {
        padding: 20px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <td>
          <h1><%=t('successfullyUpdatedEmail')%></h1>
        </td>
      </tr>
      <tr>
        <td>Powered by <a href="https://github.com/watscho">watscho</a>.</td>
      </tr>
    </table>
  </body>
</html>
